@{
    ViewData["Title"] = "Sobre nós";
}
<h3 style="padding-top: 50px">@ViewData["Title"]</h3>

<hr />
<link href="~/css/about_styling.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-8">
        <p>
            A <b>Livraria - Folhas em Branco</b> é uma loja online que se dedica desde 2022 à comercialização de livros.
        </p>
        <p>
            A atribuição do nome <b>"Folhas em Branco"</b> é uma analogia às potencialidades de imaginação e ao processo de criação literário.
        </p>
        <p>
            O nosso objetivo é a promoção da leitura e fazemo-lo através:<br />
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            da oferta de um acervo literário diversificado dos mais ilustres autores nacionais e internacionais;
            <br />
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            da divulgação de eventos literários.
        </p>
        <br />
        <img src="~/imagens/about/books.jpg" />

    </div>


    <div class="form-group col-md-4">
        <blockquote id="quoteOneill">
            <p>
                Há palavras que nos beijam<br />
                Como se tivessem boca.<br />
                Palavras de amor, de esperança,<br />
                De imenso amor, de esperança louca.<br />
            </p>

            <p>
                Palavras nuas que beijas<br />
                Quando a noite perde o rosto;<br />
                Palavras que se recusam<br />
                Aos muros do teu desgosto.<br />
            </p>

            <p>
                De repente coloridas<br />
                Entre palavras sem cor,<br />
                Esperadas inesperadas<br />
                Como a poesia ou o amor.<br />
            </p>

            <p>
                (O nome de quem se ama<br />
                Letra a letra revelado<br />
                No mármore distraído<br />
                No papel abandonado)<br />
            </p>

            <p>
                Palavras que nos transportam<br />
                Aonde a noite é mais forte,<br />
                Ao silêncio dos amantes<br />
                Abraçados contra a morte.<br />
            </p>

            <cite>
                Alexandre O’Neill (1924-1986)
            </cite>
        </blockquote>
    </div>
</div>