body {
    background-color: whitesmoke;
}

img, a img, :link img, :visited img {
    border: 0;
    background-color: antiquewhite;
}

header {
    min-height: 100px;
}

main {
    min-height: 100vh;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.container-fluid .row {
        margin: 0;
        padding: 0;
}


.dropdown:hover > .dropdown-menu {
    display: block;
}

.megamenu {
    position: static;
}

    .megamenu .dropdown-menu {
        border: none;
        width: 100%;
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 100px;
}

#mail a {
    color: lightslategrey;
    font-weight: bold;
}

#buttons a {
    color: black;
    font-weight: bold;
}

#isAtivo {
    color: black;
}

input[type=radio] {
    accent-color: black;
}

input[type=checkbox] {
    accent-color: black;
}


input,
select,
textarea {
    max-width: 400px;
}
